.contents__body
  .contents__body__messeage-list
    - @messages.each do |message|
      .contents__body__messeage{data: {message_id: "#{message.id}"}}
        .contents__body__messeage-name #{message.user.name}
        .contents__body__messeage-time #{message.created_at.strftime('%Y-%m-%d %H:%M:%S')}
        .contents__body__messeage-body #{message.body}
        - if message.image?
          = image_tag message.image.thumb.url, class: "contents__body__messeage-image"
