
=   render partial: "layouts/sidebar"

.contents
  .contents__header
    .contents__header__infomation
      %p.contents__header__infomation-name chat-group-3
      %p.contents__header__infomation-member-name MEMBER: gyouza

    .contents__header__edit
      =link_to "edit", root_path, class: "contents__header__edit-btn"

  .contents__body
    .contents__body__messeage-list
      .contents__body__messeage
        .contents__body__messeage-name gyouza
        .contents__body__messeage-time 2017/09/05 20:52:52
      .contents__body__messeage-body testingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtesting
      .contents__body__messeage
        .contents__body__messeage-name gyouza
        .contents__body__messeage-time 2017/09/05 20:52:52
      .contents__body__messeage-body testingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtesting
      .contents__body__messeage
        .contents__body__messeage-name gyouza
        .contents__body__messeage-time 2017/09/05 20:52:52
      .contents__body__messeage-body testingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtesting
      .contents__body__messeage
        .contents__body__messeage-name gyouza
        .contents__body__messeage-time 2017/09/05 20:52:52
      .contents__body__messeage-body testingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtestingtesting

  .contents__footer
    .contents__footer__form
      = form_for @message, url: {action: :create} do |f|
        = f.text_field :body, placeholder: "type a message"
        = f.label :image, class: 'contents__footer__btn' do
          %i.input-btn.fa.fa-picture-o
        = f.button "send",class: 'contents__footer__btn'
