
=   render partial: "layouts/sidebar"

.contents
  .contents__header
    .contents__header__infomation
      %p.contents__header__infomation-name #{@group.name}
      %p.contents__header__infomation-member-name
        MEMBER:
        - @group.users.each do |user|
          #{user.name}

    .contents__header__edit
      =link_to "edit", edit_group_path(@group.id), class: "contents__header__edit-btn"

  .contents__body
    .contents__body__messeage-list
      - @messages.each do |message|
        .contents__body__messeage
          .contents__body__messeage-name #{message.user.name}
          .contents__body__messeage-time #{message.created_at.strftime('%Y-%m-%d %H:%M:%S')}
        .contents__body__messeage-body #{message.body}
        - if message.image?
          = image_tag message.image.thumb.url, class: "contents__body__messeage-image"

  .contents__footer
    .contents__footer__form
      = form_for @message, url: {action: :create}, html: {class: 'contents__footer__form'} do |f|
        = f.text_field :body, placeholder: "type a message"
        = f.label :image, class: "contents__footer__btn__input" do
          %i{"class":"fa fa-picture-o", "aria-hidden": "true"}
          = f.file_field :image, class: "contents__footer__btn__input-field"
        = f.button "Send",class: 'contents__footer__btn__send'
